# Ignore all node_modules folders (frontend + backend)
**/node_modules/
node_modules/

# Ignore environment variables
.env
.env.*
backend/.env

# Ignore log files
*.log

# Ignore build artifacts
frontend/build/
backend/dist/

# System & editor files
.DS_Store
.vscode/
